.start-combat-button{
  position: absolute;
  left: 45%;
  top: 50%;
  margin-top: 0;
  background-color: #007bff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}