.monster-card-outer {
  width: 140px;
  height: 200px;
  padding: 5px;
  background-color: #071928; /* Borda escura */
  border-radius: 10px;
  box-shadow: 0 0 8px #000;
}

.monster-card-outer:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #272833;
}

.monster-card-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at top, #30435d, #000);
  border-radius: 8px;
  overflow: hidden;
  color: white;
  font-family: "Cinzel", serif;
}

/* Div de imagem - metade do espaço (tirando o nome) */
.monster-card-top {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 7px;
}
.monster-card-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Nome do monstro - altura fixa */
.monster-card-middle {
  background-color: #111827;
  text-align: center;
  padding: 2px 4px;
}
.monster-card-middle h3 {
  font-size: 12px;
  margin: 2px 0;
}

/* Parte de baixo: stats + botões */
.monster-card-bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 7px;
  padding: 2px 4px;
}

/* HP/CA alinhados */
.monster-stats {
  display: flex;
  gap: 0.5rem;
  font-size: 11px;
  justify-content: center;
}

/* Botões */
.monster-buttons {
  display: flex;
  gap: 4px;
}
.monster-buttons button {
  background: radial-gradient(ellipse at top, #1442c0, #000);
  color: white;
  border: 1px solid #000000;
  border-radius: 6px;
  padding: 4px 6px;
  font-family: "Cinzel", serif;
  font-size: 0.5rem;
  cursor: pointer;
  transition: background 0.2s;
}
.monster-buttons button:hover {
  background: #682ca7;
}