.initiative-order-banner {
position: absolute;
  top: 0;
  background: #202020;
  border: 2px solid #ccc;
  padding: 12px;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 20px;
  color: white;
  text-align: center;
  z-index: 10;
}

.initiative-order-banner ul {
  list-style: none;
  padding: 0;
}

.initiative-image-line {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  padding: 5px 0;
}

.initiative-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.initiative-icon-container {
  width: 48px;
  height: 48px;
  border: 2px solid #888;
  border-radius: 50%;
  overflow: hidden;
  background: black;
}

.initiative-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.initiative-position {
  font-size: 14px;
  margin-top: 4px;
  font-weight: bold;
  color: #f1f1f1;
  text-shadow: 1px 1px 2px black;
}

h3{
  margin: 0;
  padding: 0;
}

.initiative-icon-wrapper.active-character {
  transform: scale(1.2);
}

.initiative-icon-wrapper.active-character .initiative-icon-container {
  border: 2px solid gold;
  box-shadow: 0 0 8px gold;
}

.turn-indicator {
  position: absolute;
  top: 85px; /* abaixo do banner */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  font-weight: bold;
  padding: 1px 12px;
  border-radius: 10px;
  z-index: 9;
  animation: fadeInOut 3s infinite;
  text-align: center;
  font-size: 1.0em;
}

.turn-indicator p{
  margin-top: 6px;
  margin-bottom: 6px;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0.1; }
  50% { opacity: 1; }
}

