.master-combat {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background-image: url("../assets/lava_arena.png");
  background-size: cover;
  background-position: center;
  padding: 0rem;
}

.combat-section.players {
  flex: 1;
  display: flex;
  height: fit-content;
}

.combat-section.monsters {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: fit-content;
  overflow: hidden;
}

.monsters-title {
  font-family: "Cinzel", serif;
  text-align: center;
}

.monsters-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  margin-top: 1%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 0;
}

.monsters-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0.5rem 0;
}

.attacks-section {
  border-radius: 12px;
  padding: 0.5rem;
  padding-top: 0px;
  min-height: 140px;
  overflow-x: auto;
}

.attacks-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0.5rem;
}

.attack-drop-zone {
  position: absolute;
  bottom: 5%;
  right: 4%;
  width: 160px;
  height: 220px;
  border: 2px dashed #888;
  border-radius: 12px;
  text-align: center;
  line-height: 140px;
  color: #888;
  font-size: 1rem;
  font-style: italic;
  background-color: #6a6a6a2e;
  transition: background 0.3s ease;
  z-index: 10; /* Fica acima de elementos se necessário */
}

.attack-drop-zone:hover {
  border: 2px dashed #ff0000;
  background-color: rgba(255, 0, 0, 0.1);
  transition: 0.3s ease;
}

.not-your-turn-message {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 20px 30px;
  border-radius: 10px;
  z-index: 1000;
  animation: fadeInOutNotYourTurn 2s ease-in-out;
  pointer-events: none;
}

@keyframes fadeInOutNotYourTurn {
  0% { opacity: 0; transform: translate(-50%, -60%); }
  10% { opacity: 1; transform: translate(-50%, -50%); }
  90% { opacity: 1; transform: translate(-50%, -50%); }
  100% { opacity: 0; transform: translate(-50%, -40%); }
}
