.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal-content.fantasy-card {
  position: relative;
  max-width: 600px;
  padding: 2rem;

  /* Textura de pergaminho */
  background-image: url("../assets/pergaminho2.jpg");
  background-size: cover;
  background-position: center;

  color: #3a2514;
  font-family: "Georgia", "Times New Roman", serif;

  /* Borda e Sombreamento */
  border-radius: 12px;
  box-shadow: 0px 0px 30px rgba(255, 215, 100, 0.3);

  /* Borda de runas (exemplo simples) */
  border: 2px solid #7f3f1f;
}

.modal-content h2 {
  font-size: 1.8rem;
  border-bottom: 2px solid #7f3f1f;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;

  /* Texto escuro para destacar no pergaminho */
  color: #3f2c1c;
}

.modal-body {
  font-size: 1rem;
  line-height: 1.5;
}

.modal-body p {
  margin: 0.5rem 0;
}

.modal-description p {
  text-indent: 1.5rem;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  background: none;
  font-size: 2rem;
  color: #3f2c1c;

  border: none;
  cursor: pointer;

  /* Adição de leve efeito de hover */
  transition: transform 0.3s ease, color 0.3s ease;
}

.modal-close:hover {
  transform: rotate(30deg) scale(1.1);
  color: #7f3f1f;
}
